/* Document styles */


body {
  font-family: Asap;
  margin:0px;
  height:700px;
  color:#3C3C3C;
}

h3, input {
  padding:2px;
  margin:0px;
}

h3 {
  font-weight: bold;
}

ul, li {
  list-style-type:none;
  text-align:left;
  padding:0px;
  margin-top:px;
}

li {
  padding:5px;
  cursor:pointer;
}

.container-fluid {
  padding:0px;
}

.navbar {
  padding:0px;
  background:linear-gradient(to right,#020B4A,#173BA5, #2450C2);
}
.nav-link {
  color:#ffffff!important;
}

.navbar-brand{
  margin-left:5px;
}

/* Nav Styles */

.vertical-nav {
  height:100%;
  width:10%;
  text-align:left;
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  box-shadow: 0 0 30px #ededed;
}

li:hover a {
  text-decoration: none;
  color:#ffffff;
}

li:hover {
  background-color:darkblue;
}

a {
  text-decoration: none;
}

/* a:hover {
  color:#ffffff;
  text-decoration: none;
} */

/* Search box style */

input {
  outline: none;
  max-width:90%;
  margin:5px 0px 5px 5px;
  border:1px solid #ededed;
  color:#3C3C3C;
}

input:hover {
  border:1px solid #aeaeae;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#aeaeae;
  font-size:12px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#aeaeae;
  font-size:12px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:#aeaeae;
  font-size:12px;
}



/* media queries */


  @media only screen and (max-width: 800px) {
    .vertical-nav {
      width: 100%;
      text-align:center;
      height:auto;
    }
  @media only screen and (max-width: 800px) {
      li, ul {
        display: inline;
        margin-bottom:0px;
      }
  @media only screen and (max-width: 800px) {
        input, .vertical-nav-title {
          display: none;
        }



  /* When width <800px navbar collapse  */