<% include partials/header %>

<div class="container-fluid">
  <div class="general-row">
    <div class="col">
        <p>Welcome to your dashboard</p>
    </div>
  </div>
</div>



<% include partials/footer %>