<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Rights Manager v1</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#212944">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Asap:400,400i,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="Public/stylesheets/content.css">
</head>

<body>


  <nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
    <a class="navbar-brand abs" href="#">Rights Activation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="primary-navs nav-link" href="#">Clients</a>
        </li>
        <li class=" nav-item">
          <a class=" primary-navs nav-link" href="#">Support</a>
        </li>
        <li>
          <a class=" primary-navs nav-link" href="#" data-toggle="collapse">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class=" nav-link" id="sign-in-button" href="" data-target="#myModal" data-toggle="modal"><button
              class="primary-button">SIGN IN</button></a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container-fluid">
    <div class="row content-container">
      <div class="col-xs-12 col-lg-2 vertical-nav fixed-top">

        <!-- Horizontal partner navigation -->
        <input id="partner-search" onkeyup="myFunction()" type="text" placeholder="Search..." name="search"
          title="Search for client">
        <ul id="myUL">
          <li class="v-bar-link"> <a href="rights-page.html">Capital Insurance</a></li>
          <li class="v-bar-link"> <a href="rights-page2.html">Raiders Sportswear</a></li>
          <li class="v-bar-link"> <a href="#">Puma</a></li>
          <li class="v-bar-link"> <a href="#">New Balance</a></li>
          <li class="v-bar-link"> <a href="#">Nike</a></li>
          <li class="v-bar-link"> <a href="#">Adidas</a></li>
          <li class="v-bar-link"> <a href="#">Puma</a></li>
          <li class="v-bar-link"> <a href="#">New Balance</a></li>
          <li class="v-bar-link"> <a href="#">Nike</a></li>
          <li class="v-bar-link"> <a href="#">Adidas</a></li>
          <li class="v-bar-link"> <a href="#">Puma</a></li>
        </ul>

      </div>


      <div class="rights-section col-lg-10">
        <div class="row general-row headline-values">

          <div class="col-lg-12 col-xs-12">
            <h3>Capital Insurance</h3>

          </div>
          <div class="row general-row values-row">
            <div class="col-xs-6 key-values">
              <span class="value-description">Designation</span> <br />
              <span class="values">Official East Stand sponsor</span>
            </div>
            <div class="col-xs-6 key-values">
              <span class="value-description">Value</span> <br />
              <span class="values">£999,999</span>
            </div>
            <div class="col-xs-6 key-values">
              <span class="value-description">Start Date</span> <br />
              <span class="values">01-01-2019</span>
            </div>
            <div class="col-xs-6 key-values">
              <span class="value-description">Expiry Date</span> <br />
              <span class="values">01-01-2020</span>
            </div>
            <div class="col-xs-6 key-values">
              <span class="value-description">Contact</span> <br />
              <span class="values">Adam Smith</span>
            </div>
            <div class="col-xs-6 key-values">
              <span class="value-description">Email</span> <br />
              <span class="values">adam@capitalinsurance.com</span>
            </div>
            <div class="col-xs-6 key-values">
              <span class="value-description">Number</span> <br />
              <span class="values">07774774770</span>
            </div>
            <div class="col-xs-6 key-values">
                <span class="value-description">More Info</span> <br />
                <span class="values">Click for more details  <i class="fas fa-info-circle"></i></span>
              </div>
          </div>
        </div>

        <!-- Objectives row -->

        <div class="row general-row client-about-row">
          <div class="col-xs-12">
            <h4 class="heading-primary">OBJECTIVES</h4>
          </div>
          <div class="col-xs-12">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum."</p>

          </div>
        </div>
        <div class="row general-row client-about-row">
          <div class="col">
            <h4 class="heading-primary">PERFORMANCE</h4>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                  aria-controls="pills-home" aria-selected="true">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link metrics" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                  aria-controls="pills-profile" aria-selected="false">Twitter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link metrics" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                  aria-controls="pills-contact" aria-selected="false">Facebook</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                ...
              </div>
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

              </div>
              <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <table id="data-table" class="table">
                  <thead>
                    <tr>
                      <td onclick="sortTable(0)">
                        Channel <i class="fas fa-sort"></i>
                      </td>
                      <td>
                        Name <i class="fas fa-sort"></i>
                      </td>
                      <td>
                        Reach <i class="fas fa-sort"></i>
                      </td>
                      <td>
                        Engagement <i class="fas fa-sort"></i>
                      </td>
                      <td>
                        Reach <i class="fas fa-sort"></i>
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        Facebook
                      </td>
                      <td>
                        3402
                      </td>
                      <td>
                        9021
                      </td>
                      <td>
                        Facebook
                      </td>
                      <td>
                        3402
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Facebook
                      </td>
                      <td>
                        3402
                      </td>
                      <td>
                        9021
                      </td>
                      <td>
                        Twitter
                      </td>
                      <td>
                        3402
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>

        <!-- Delivery section  -->
        <div class="row general-row client-about-row">
          <div class="col-xs-12 col-lg-12 delivery-section">
            <h4 class="heading-primary">DELIVERY</h4>
            <p class="rights-title">Digital Rights</p>
            <ul>
              <li class="rights-list">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua.</p>
              </li>
              <li class="rights-list">
                3 Social media campaigns per season
              </li>
              <li class="rights-list">
                3 Social media campaigns per season
              </li>
              <li class="rights-list">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua.</p>
              </li>
              <li class="rights-list">
                3 Social media campaigns per season
              </li>
              <li class="rights-list">
                3 Social media campaigns per season
              </li>
            </ul>

            <p class="rights-title">Branding</p>
            <ul>
              <li class="rights-list">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua.</p>
              </li>
              <li class="rights-list">
                3 Social media campaigns per season
              </li>
              <li class="rights-list">
                3 Social media campaigns per season
              </li>
              <li class="rights-list">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua.</p>
              </li>
              <li class="rights-list">
                3 Social media campaigns per season
              </li>
              <li class="rights-list">
                3 Social media campaigns per season
              </li>
            </ul>
          </div>
        </div>

        <!-- End delivery section -->
      </div>
      <!-- End rights section -->
    </div>
  </div>




  <script src="rightManager.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>