<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Styleguide</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#212944">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Asap:400,400i,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/Users/TJ/Desktop/rightsManager/public/stylesheets/content.css">
  </head>
  
  <body>
      <div class="container">
          <div class="row">
            <div class="col">
              <h1>This is h1</h1>
              <h2>This is h2</h2>
              <h3>This is h3</h3>
              <h4>This is h4</h4>
              <h5>This is h5</h5>
              <h6>This is h6</h6>
              <p>This is a paragraph</p>
                <ul>
                  <li>This</li>
                  <li>is</li>
                  <li>a</li>
                  <li>List</li>
                </ul>
             
                <button>Button</button>
            </div>
          </div>
        </div>
    
    <script src="" async defer></script>
  </body>
</html>




