<div class="col-xs-12 col-lg-2 vertical-nav fixed-top">

    <!-- Horizontal partner navigation -->
    <input class="search-bar" id="partner-search" onkeyup="myFunction()" type="text" placeholder="Search..."
      name="search" title="Search for client">
    <ul id="myUL">
       
      <li class="v-bar-link">
         
        
            
      </li>
    
    </ul>
  </div>