<!-- <div class="col-xs-12 col-lg-2 vertical-nav fixed-top"> -->

<!-- Horizontal partner navigation -->
<!-- <input class="search-bar" id="client-search" onkeyup="myFunction()" type="text" placeholder="Search..." name="search"
    title="Search for client">
  <ul id="myUL">
    <a href="#">
      <li class="v-bar-link">
        Sponsor 2
      </li>
    </a>
  </ul>
</div> -->