<% include ../partials/header %>


<div class="container">
  <div class="row client-about-row">
    <h3>Add new client</h3>
  </div>
  <div class="row client-about-row">
    <form action="/clients" method="POST">
      <label class="rights-title">Business Name:</label>
      <input type="text" placeholder="Enter Name" name="client[name]">
      <label class="rights-title">Client Designation / Deal Name:</label>
      <input type="text" placeholder="Enter Designation" name="client[designation]">
      <label class="rights-title">Contract Value:</label>
      <input type="number" placeholder="1000.00" name="client[value]">
      <label class="rights-title" for="start">Start date:</label>
      <input type="date" id="start" name="trip-start" value="2019-01-01" min="2018-01-01" max="2040-12-31">
      <label class="rights-title" for="start">Expiry date:</label>
      <input type="date" id="start" name="trip-start" value="2020-01-01" min="2018-01-01" max="2040-12-31">


      <button>Submit</button>

    </form>
  </div>
</div>


<% include ../partials/footer %>