<% include ../partials/header %>


<div class="container form-container">
    <div class="row form-section form-header">
        <div class="col-12">
          <h5>New Client</h5>
        </div>
      </div>
    <!--  Business Details  -->
    <form action="/clients" method="POST">
        <div class="row form-section">
          <div class="col-4">
            <p class="form-section-title">Deal Information</p>
            <p class="form-description">Enter all information relating to the contract here</p>
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col">
           
                <label for="client-name"> Business Name </label>
                <input type="text" name="client[name]">
              </div>
            </div>
           <div class="row">
              <div class="col">
                <label>Designation</label>
                <input type="text" name="client[designation]" >
              </div>
            </div>
         <div class="row">
              <div class="col">
                <label>Value</label>
                <input class="number-input" type="number" name="client[value]">
              </div>
            </div>
                 <div class="row">
              <div class="col">
                <label>Start Date</label>
                <input class="date-input" type="date">
              </div>
               <div class="col">
                <label>End Date</label>
                <input class="date-input" type="date">
              </div>
            </div>
          </div>
          
        </div>
    <!--  Deal Information  -->
         <div class="row form-section">
          <div class="col-4">
            <p class="form-section-title">Contact Details</p>
             <p class="form-description">This section is for the contacts personal information. <br>Use the notes for additional information about the client.</p>
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col">
           
                <label>Name </label>
                <input type="text" name="client[contact]" >
              </div>
            </div>
           <div class="row">
              <div class="col">
                <label>Email</label>
                <input type="text" name="client[email]" >
              </div>
            </div>
         <div class="row">
              <div class="col">
                <label>Number</label>
                <input class="number-input" type="number" name="client[contact_number]">
              </div>
            </div>
                 <div class="row">
               <div class="col">
                <label>Notes</label>
                 <textarea name="client[notes]" ></textarea>
              </div>
            </div>
          </div>
          
        </div>
    <!--  Form submit  -->
      <div class="row form-section form-footer">
        <div class="col form-submit">
          <button class="submit-form-button">Save Client</button>
      </div>
      </form>
        </div>








</div>


<% include ../partials/footer %>