<% include ../partials/header %>
<div class="container-fluid">
  <div class="row content-container">
    <div class="col-xs-12 col-lg-2 vertical-nav fixed-top">

      <!-- Horizontal partner navigation -->
      <input id="partner-search" onkeyup="myFunction()" type="text" placeholder="Search..." name="search"
        title="Search for client">
      <ul id="myUL">
        <li class="v-bar-link"> <a></a></li>
      </ul>

    </div>


    <div class="rights-section col-lg-10">
      <div class="row general-row headline-values">

        <div class="col-lg-12 col-xs-12">
          <h3></h3>

        </div>
        <div class="row general-row values-row">
          <div class="col-xs-6 key-values">
            <span class="value-description">Designation</span> <br />
            <span class="values">Official East Stand sponsor</span>
          </div>
          <div class="col-xs-6 key-values">
            <span class="value-description">Value</span> <br />
            <span class="values">£999,999</span>
          </div>
          <div class="col-xs-6 key-values">
            <span class="value-description">Start Date</span> <br />
            <span class="values">01-01-2019</span>
          </div>
          <div class="col-xs-6 key-values">
            <span class="value-description">Expiry Date</span> <br />
            <span class="values">01-01-2020</span>
          </div>
          <div class="col-xs-6 key-values">
            <span class="value-description">Contact</span> <br />
            <span class="values">Adam Smith</span>
          </div>
          <div class="col-xs-6 key-values">
            <span class="value-description">Email</span> <br />
            <span class="values">adam@capitalinsurance.com</span>
          </div>
          <div class="col-xs-6 key-values">
            <span class="value-description">Number</span> <br />
            <span class="values">07774774770</span>
          </div>
          <div class="col-xs-6 key-values">
              <span class="value-description">More Info</span> <br />
              <span class="values">Click for more details  <i class="fas fa-info-circle"></i></span>
            </div>
        </div>
      </div>

      <!-- Objectives row -->

      <div class="row general-row client-about-row">
        <div class="col-xs-12">
          <h4 class="heading-primary">OBJECTIVES</h4>
        </div>
        <div class="col-xs-12">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum."</p>

        </div>
      </div>
      <div class="row general-row client-about-row">
        <div class="col">
          <h4 class="heading-primary">PERFORMANCE</h4>
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                aria-controls="pills-home" aria-selected="true">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link metrics" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                aria-controls="pills-profile" aria-selected="false">Twitter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link metrics" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                aria-controls="pills-contact" aria-selected="false">Facebook</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              ...
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              <table id="data-table" class="table">
                <thead>
                  <tr>
                    <td onclick="sortTable(0)">
                      Channel <i class="fas fa-sort"></i>
                    </td>
                    <td>
                      Name <i class="fas fa-sort"></i>
                    </td>
                    <td>
                      Reach <i class="fas fa-sort"></i>
                    </td>
                    <td>
                      Engagement <i class="fas fa-sort"></i>
                    </td>
                    <td>
                      Reach <i class="fas fa-sort"></i>
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Facebook
                    </td>
                    <td>
                      3402
                    </td>
                    <td>
                      9021
                    </td>
                    <td>
                      Facebook
                    </td>
                    <td>
                      3402
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Facebook
                    </td>
                    <td>
                      3402
                    </td>
                    <td>
                      9021
                    </td>
                    <td>
                      Twitter
                    </td>
                    <td>
                      3402
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

      <!-- Delivery section  -->
      <div class="row general-row client-about-row">
        <div class="col-xs-12 col-lg-12 delivery-section">
          <h4 class="heading-primary">DELIVERY</h4>
          <p class="rights-title">Digital Rights</p>
          <ul>
            <li class="rights-list">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et
                dolore magna aliqua.</p>
            </li>
            <li class="rights-list">
              3 Social media campaigns per season
            </li>
            <li class="rights-list">
              3 Social media campaigns per season
            </li>
            <li class="rights-list">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et
                dolore magna aliqua.</p>
            </li>
            <li class="rights-list">
              3 Social media campaigns per season
            </li>
            <li class="rights-list">
              3 Social media campaigns per season
            </li>
          </ul>

          <p class="rights-title">Branding</p>
          <ul>
            <li class="rights-list">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et
                dolore magna aliqua.</p>
            </li>
            <li class="rights-list">
              3 Social media campaigns per season
            </li>
            <li class="rights-list">
              3 Social media campaigns per season
            </li>
            <li class="rights-list">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et
                dolore magna aliqua.</p>
            </li>
            <li class="rights-list">
              3 Social media campaigns per season
            </li>
            <li class="rights-list">
              3 Social media campaigns per season
            </li>
          </ul>
        </div>
      </div>

      <!-- End delivery section -->
    </div>
    <!-- End rights section -->
  </div>
</div>

<% include ../partials/footer %>



