/* Document styles */


/* Colors
Primary - Charcoal #33475b;
Lighter - Payne's grey #586878;
Lightest - Mantee - #8F9AA5;
Darker - Gunmetal #263443;
Darkest - Dark gunmetal #18212A;
Navs - Yankee Blue #212944;
background - #F5F8FA;
*/



html,
body {
	height: 100%;
	width: 100%;
}

body {
	font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0px;
	font-size: 0.9rem;
	background-color: #F5F8FA;
	color: #263443;
	/* color:black; */
	font-weight: lighter;
}

input,
p {
	padding: 2px;
	margin: 0px;
}

h3 {
	font-weight: bold;
}

h4 {
	font-weight: bold;
	font-size: 1.05rem;
	margin-bottom:4px;
}
ul,
li {
	list-style-type: none;
	text-align: left;
	padding: 0px;
	margin-top: px;
}

li {
	/* padding: 5px;
	*/
	cursor: pointer;
	padding-right: 3px;
}

.navbar {
	padding: 0px;
	background-color: #212944 !important;
	/* background: linear-gradient(to right, #020B4A, #173BA5, #2450C2);
  background-color: #020B4A; */
	font-size: 1rem;
	box-shadow: 0 0 10px grey;
}

.primary-navs {
	color: #ffffff !important;
}

.navbar-brand {
	margin-left: 15px;
}

.navbar-brand, .abs {
	font-weight: 300;
}

.navbar-nav {
	margin-left: 95px;
}

.fixed-top {
	z-index: 1010 !important;
}

.col-lg-2 {
	padding-left: 0px;
}

.col {
	padding: 0px;
}

.rights-section {
	margin-left: 16.5%;
	padding: 0px 15px 15px 15px;
}

/* Nav Styles */
.vertical-nav {
	height: 100%;
	text-align: left;
	font-size: 1em;
	white-space: nowrap;
	overflow: hidden;
	/* border-right: 1px solid #ededed; */
	float: left;
	padding: 0px 10px 10px 10px;
	/* background-color:#F5F8FA; */
	background-color: #E3E8EE;
	/* background-color: #F6F9FC; */
	margin-top: 40px;
}

/* Links */
.v-bar-link {
	padding: 5px;
}

.v-bar-link:hover {
	text-decoration: none;
	color: black;
	background-color: #EAF0F6;
	border-radius: 0px;
	box-shadow: inset 0 -2px #14aaf5;
	/* background: linear-gradient(to right, #020B4A, #173BA5, #2450C2);
	*/
}

.v-bar-link:hover a {
	text-decoration: none;
	color: #3C3C3C;
}

a {
	text-decoration: none;
	color: #3C3C3C;
}

.nav-link {
	transition: 0.2s;
}


i {
	font-size: 16px;
}

.primary-navs {
	font-weight: lighter !important;
	font-size: 0.9rem;
}

.nav-link:hover {
	box-shadow: inset 0 -2px #14aaf5;

}

/* Stops inset border appearing on hover */
#sign-in-button {
	box-shadow: none !important;
}

.col {
	text-align: left;
}

/* Search box style */
input {
	outline: none;
	width: 100%;
	margin: 10px 10px 10px 0px;;
	border: 0px solid #ededed;
	background-color: hsl(220, 12%, 95%);
	border-radius: 3px;
	color: #3C3C3C;
	padding: 3px;
	/*  */
}

.search-bar {
	background-color:#ffffff;
}

input:hover {
	/* box-shadow: 3px 3px 3px #aeaeae;
	*/
	box-shadow: inset 0 -2px #aeaeae;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #aeaeae;
	font-size: 12px;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #aeaeae;
	font-size: 12px;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #aeaeae;
	font-size: 12px;
}

/* rights styles */
.general-row {
	margin: 0px 0px 0px 0px;
}

.headline-values {
	margin-top: 0px;
	background-color: #F5F8FA;
	line-height: 1.8rem;
	border-radius: 3px;
	padding: 10px;
}

.client-about-row {
	padding: 10px;
	margin-top: 15px;
	background-color: #ffffff;
	line-height: 1.8rem;
	/* box-shadow: 0 1px 5px 0 rgba(45, 62, 80, .12); */
	border-radius: 3px;
}

.key-values {
	margin: 0px 25px 0px 0px;
}

.client-info-modal {
	cursor: pointer;
}

.values {
	font-weight: 500;
}

.value-description {
	color: #8F9AA5;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	background-color: #EAF0F6;
	color: #33475b;
}

.delivery-section {
	padding: 0px;
}

.col-lg-12 {
	padding: 0px;
}

.rights-title {
	font-weight: bold;
}

.rights-list {
	border-bottom: 1px solid #ededed;
	cursor: auto;
	padding-top: 8px;
	font-size: 0.9rem;
	display: block;
	display:flex;
	align-content: center;
	align-items: center;
	padding:5px;
}

.rights-list:hover {
	cursor: pointer;
}

/* Components */
/* Client card */

.client-card:hover {
	-webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}


.client-card-name, .client-card-values {
	display: inline;
}

.client-card-logo {
	border-radius: 50%;
	margin-right:5px;
}

.client-card:hover {
	-webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
	transition: transform .2s;
}

/* tables */

.mb-3

/* A boostrap class which added unwanted margin*/
	{
	margin-bottom: 0.5rem !important;
}

table {
	text-align: center;
	margin: 0px 0px 0px 0px;
}

thead {
	background-color: #263443;
	color: #ffffff;
	cursor: pointer;
}

tr:nth-of-type(even) {
	background-color: #F4F7F9;
}

td {
	padding: 10px;
}



/* Buttons */
button {
	border: none;
	border-radius: 4px;
	padding: 3px 10px;
	/* box-shadow: 0px 1px 2px lightgrey; */
	transition: transform .2s;
	font-size: 0.9rem;
	/* font-weight: lighter; */
}

button:hover {
	/* transform: scale(1.02); */
	opacity: 0.8;
	box-shadow: 0px 1px 2px lightgrey;
		/* -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08); */
}

button:focus {
	outline: 0;
}


.primary-button {
	color: #263443;
	background-color:#F5F8FA;
	margin-right: 10px;
	
}

.secondary-button {
	color:#ffffff;
	background-color: #263443;
	margin-right: 5px;
	
}

.warning-button {
	background-color:#900300;
	color:#ffffff;
	margin-top:10px;
}

.info-button {
	background-color:#FACF71;
}

.button-group {
	float:right;
}

/* media queries */
@media only screen and (max-width: 1023px) {
	.vertical-nav {
		width: 100% !;
		white-space: nowrap;
		overflow: hidden;
		overflow-x: scroll;
		margin: 0px;
		padding: 5px;
	}
}

@media only screen and (max-width: 1024px) {
	.fixed-top {
		position: relative !important;
	}
}


@media only screen and (max-width: 1024px) {
	.rights-section {
		margin-left: 0px;
	}
}

@media only screen and (max-width: 1024px) {

	li,
	ul {
		display: inline;
	}
}

@media only screen and (max-width: 1024px) {

	input,
	.vertical-nav-title {
		display: none;
	}
}

/* Remove desktop margins for better mobile spacing */
@media only screen and (max-width: 1023px) {

	.navbar-nav,
	.ml-auto {
		margin-left: 10px !important;
	}
}

@media only screen and (max-width: 1023px) {
	.navbar {
		padding: 3px 3px 3px 0px !important
	}
}