<% include ../partials/header %>
<div class="container">
  <div class="client-about-row">
    <h2>All Client rights</h2>
    <table id="data-table" style="width:100%;">
        <tr>
          <td onclick="sortTable(0)">Category <i class="fas fa-sort"></i></td>
          <td>Detail</td>
          <td>Progress</td>
        </tr>
        <% rights.forEach(function(right){ %>
        <tr>
          <td> <%= right.category%> </td>
          <td> <%= right.description %></td>
          <td> <%= right.complete %></td>
        </tr>
        <% }) %>
      </table>
  </div>
</div>




<% include ../partials/footer %>