<% include ../partials/header %>

<div class="container">
  <div class="client-about-row">
    <h2>All Client rights</h2>
    <input type="text" style="width:95%;display:inline"class="search-bar" id="rights_search" onkeyup="searchrights()" placeholder="Search rights by category..." title="Search rights">
    <div class="help">
      <i class="fas fa-question-circle"></i><span class="help-content">

        This search uses the detail column. Try and enter your rights using keywords to help group them</span>

    </div>
    <table id="rightsTable" style="width:100%;">
        <tr>
          <td>Category </td>
          <td>Detail</td>
          <td>Progress</td>
        </tr>
        <% rights.forEach(function(right){ %>
        <tr>
          <td> <%= right.category%> </td>
          <td> <%= right.description %></td>
          <td> <%= right.complete %></td>
        </tr>
        <% }) %>
      </table>
 
  </div> 
</div>





<% include ../partials/footer %>