<% include ../partials/header %>

<div class="container form-container">
  <form action="/clients/<%= client._id %>/socials" method="POST">
    <div class="row form-section">
      <div class="col-12">
        <h5>Add Social Data For <%= client.name %></h5>
      </div>
    </div>
    <!-- Campaign metadata -->
    <div class="row form-section">
      <div class="col-3">
        <p class="form-section-title">Campaign Details</p>
        <p class="form-description">Enter the related campaign name here. This could be an event or match.</p>


      </div>
      <div class="col-9">
        <div class="row">
          <div class="col">
            <label>Campaign Name </label>
            <input type="string" name="social[campaign]">
          </div>
        </div>
      </div>
    </div>
    <!--  Facebook Analytics  -->
    <div class="row form-section">
      <div class="col-3">
        <p class="form-section-title">Facebook Analytics</p>
        <p class="form-description">Enter all Facebook data here</p>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col">
            <table class="table performance-table">

              <tr>
                <td> Posts</td>
                <td> Reach</td>
                <td> Engagement</td>
                <td> Clicks</td>
              </tr>
              <tr>
                <td><input type="number" value="0" name="social[fb_posts]"> </td>
                <td><input type="number" value="0" name="social[fb_reach]"> </td>
                <td><input type="number" value="0" name="social[fb_engagement]"> </td>
                <td><input type="number" value="0" name="social[fb_clicks]"> </td>
              </tr>
            </table>
          </div>
        </div>

      </div>
    </div>

    <!--  Twitter Analytics  -->
    <div class="row form-section">
      <div class="col-3">
        <p class="form-section-title">Twitter Analytics</p>
        <p class="form-description">Enter all Tweet data here</p>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col">
            <table class="table performance-table">

              <tr>
                <td> Tweets</td>
                <td> Impressions</td>
                <td> Engagement</td>
                <td> Clicks</td>
              </tr>

              <tr>
                <td><input type="number" value="0" name="social[tw_tweets]"> </td>
                <td><input type="number" value="0" name="social[tw_impressions]"> </td>
                <td><input type="number" value="0" name="social[tw_engagement]"> </td>
                <td><input type="number" value="0" name="social[tw_clicks]"> </td>
              </tr>
            </table>
          </div>
        </div>

      </div>
    </div>
    <!--  Instagram Analytics  -->
    <div class="row form-section">
      <div class="col-3">
        <p class="form-section-title">Instagram Analytics</p>
        <p class="form-description">Enter all Instagram data here</p>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col">
            <table class="table performance-table">

              <tr>
                <td> Posts</td>
                <td> Impressions</td>
                <td> Engagement</td>
                <td> Clicks</td>
              </tr>

              <tr>
                <td><input type="number" value="0" name="social[in_posts]"> </td>
                <td><input type="number" value="0" name="social[in_impressions]"> </td>
                <td><input type="number" value="0" name="social[in_engagement]"> </td>
                <td><input type="number" value="0" name="social[in_clicks]"> </td>
              </tr>
            </table>
          </div>
        </div>

      </div>
    </div>

    <!--  Form submit  -->
    <div class="row form-section form-footer">
      <div class="col form-submit">
        <button class="submit-form-button">Save</button>
      </div>
    </div>
  </form>
</div>


<% include ../partials/footer %>